/*
/*/

!LICENSE
!GodotFSharp.fsproj
!default_env.tres
!.gitignore
!GodotFSharp.fsproj
!GodotProject.csproj
!GodotProject.sln
!packages.config
!project.godot

!/Assets/
!/bin/
!/LocalLibraries/
!/packages/
!/Properties/
!/src/